{{!-- 

this =  {
  id: '',
  image: '',
  name: '',
  description: '',
  tagline" ''
 }

 --}}

<div>
  <a href="/beers/{{id}}">
    <img src="{{ image_url}}" alt="">
  </a>

  <h1> {{ name}} </h1>
  <p> {{ description}} </p>
  <p> {{ tagline}} </p>
</div>