<div>
  <h1>{{ category }}</h1>
  <h2>From {{country }} </h2>
  <img src="{{ randomBeer.image_url}}" alt="">
  <h1>
    {{ randomBeer.name}}
  </h1>
  <p>
    {{ randomBeer.description}}
  </p>
  <p>
    {{ randomBeer.tagline}}
  </p>
</div>